@font-face {
    font-family: 'Bodoni';
    src: url('Bodoni-Book.woff2') format('woff2'),
        url('Bodoni-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

