


.blog{
    padding: 50px 0;
    .pagination{
        font-family:'Bodoni'!important;
    }
    
                } 
       

@media(min-width:778px)
{
    .blog{
        padding: 88px 0 66px;
    }
}