.error-page{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:100px 0;
    .error-page-links{
        font-family: 'Bodoni';
        font-size: 6rem;
        line-height: 8.4rem;
        letter-spacing: 20px;
        margin-bottom: 32px;
        
    a{text-decoration:none;}}
    .link-button{
        padding: 13px 30px;
        text-align: center;
        font-family: 'Lato';
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}


@media(min-width:768px){
    padding:277px 0 355px;
}